In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [66]:
#Storing the values in the DataFrame
items=[['Bread','Milk'],
     ['Bread','Diaper','Beer','Cola'],
     ['Milk','Diaper','Beer','Cola'],
     ['Bread','Milk','Diaper','Beer'],
     ['Bread','Milk','Diaper','Cola']]

In [68]:
from apyori import apriori

In [69]:
assciation_rules=apriori(items,min_support=0.5,min_confidense=0.7)
association_result=list(assciation_rules)
ass

In [9]:
# df = pd.DataFrame(data)

In [11]:
# df

       0       1       2     3
0  Bread    Milk    None  None
1  Bread  Diaper    Beer  Cola
2   Milk  Diaper    Beer  Cola
3  Bread    Milk  Diaper  Beer
4  Bread    Milk  Diaper  Cola

In [14]:
# df.isnull().sum()

0    0
1    0
2    1
3    1
dtype: int64

In [36]:
# data

In [20]:
# data1=pd.read_csv('mark.csv')

In [60]:
# data1

   TID                   Items
0    1              Bread,Milk
1    2  Bread,Diaper,Beer,Eggs
2    3   Milk,Diaper,Beer,Cola
3    4  Bread,Milk,Diaper,Beer
4    5  Bread,Milk,Diaper,Cola

In [64]:
# data.shape

AttributeError: 'list' object has no attribute 'shape'

In [59]:
# items=[]
# for i in range(0,5):
#     items.append([str(data1.values[i,j])for j in range(1,2)])

In [57]:
# items

[['Bread,Milk'],
 ['Bread,Diaper,Beer,Eggs'],
 ['Milk,Diaper,Beer,Cola'],
 ['Bread,Milk,Diaper,Beer'],
 ['Bread,Milk,Diaper,Cola']]

ImportError: cannot import name 'association_rules' from 'apyori' (C:\Users\ML Lab\anaconda3\lib\site-packages\apyori.py)