In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
dataset=pd.read_csv('PlayTennis.csv')
dataset

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [7]:
dataset.describe()

       Outlook Temperature Humidity  Wind Play Tennis
count       14          14       14    14          14
unique       3           3        2     2           2
top      Sunny        Mild     High  Weak         Yes
freq         5           6        7     8           9

In [9]:
dataset.isnull().sum()

Outlook        0
Temperature    0
Humidity       0
Wind           0
Play Tennis    0
dtype: int64

In [11]:
dataset.value_counts()

Outlook   Temperature  Humidity  Wind    Play Tennis
Overcast  Cool         Normal    Strong  Yes            1
          Hot          High      Weak    Yes            1
                       Normal    Weak    Yes            1
          Mild         High      Strong  Yes            1
Rain      Cool         Normal    Strong  No             1
                                 Weak    Yes            1
          Mild         High      Strong  No             1
                                 Weak    Yes            1
                       Normal    Weak    Yes            1
Sunny     Cool         Normal    Weak    Yes            1
          Hot          High      Strong  No             1
                                 Weak    No             1
          Mild         High      Weak    No             1
                       Normal    Strong  Yes            1
dtype: int64

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play Tennis  14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [15]:
dataset.shape

(14, 5)

In [17]:
a=dataset['Outlook']
b=dataset['Temperature']
c=dataset['Humidity']
d=dataset['Wind']

In [19]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset['Outlook']=le.fit_transform(a)
dataset['Temperature']=le.fit_transform(b)
dataset['Humidity']=le.fit_transform(c)
dataset['Wind']=le.fit_transform(d)

In [21]:
dataset

    Outlook  Temperature  Humidity  Wind Play Tennis
0         2            1         0     1          No
1         2            1         0     0          No
2         0            1         0     1         Yes
3         1            2         0     1         Yes
4         1            0         1     1         Yes
5         1            0         1     0          No
6         0            0         1     0         Yes
7         2            2         0     1          No
8         2            0         1     1         Yes
9         1            2         1     1         Yes
10        2            2         1     0         Yes
11        0            2         0     0         Yes
12        0            1         1     1         Yes
13        1            2         0     0          No

In [23]:
x=dataset.drop('Play Tennis',axis=1)
x

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         1     1
5         1            0         1     0
6         0            0         1     0
7         2            2         0     1
8         2            0         1     1
9         1            2         1     1
10        2            2         1     0
11        0            2         0     0
12        0            1         1     1
13        1            2         0     0

In [25]:
y=dataset['Play Tennis']
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [45]:
x_train.shape

(11, 4)

In [46]:
x_test.shape

(3, 4)

In [47]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [48]:
y_pred = gnb.predict(x_test)
y_pred

array(['Yes', 'No', 'Yes'], dtype='<U3')

In [49]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_pred,y_test)*100)

Accuracy: 100.0

In [51]:
from sklearn.metrics import classification_report
classification_report(y_pred,y_test)

'              precision    recall  f1-score   support\n\n          No       1.00      1.00      1.00         1\n         Yes       1.00      1.00      1.00         2\n\n    accuracy                           1.00         3\n   macro avg       1.00      1.00      1.00         3\nweighted avg       1.00      1.00      1.00         3\n'

In [52]:
from sklearn.metrics import confusion_matrix
print("Confusion matrix: ",confusion_matrix(y_pred,y_test))

Confusion matrix:  [[1 0]
 [0 2]]

In [62]:
x=[[2,1,0,1]]
y_pred=gnb.predict(x)
print("Play Tennis = ",y_pred)

Play Tennis =  ['No']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [63]:
x=[[1,1,1,1]]
y_pred=gnb.predict(x)
print("Play Tennis = ",y_pred)

Play Tennis =  ['Yes']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [65]:
x=[[0,0,0,0]]
y_pred=gnb.predict(x)
print("Play Tennis = ",y_pred)

Play Tennis =  ['Yes']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [66]:
x=[[2,0,0,0]]
y_pred=gnb.predict(x)
print("Play Tennis = ",y_pred)

Play Tennis =  ['No']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(